   
    #doctor {
        >.inner {
            margin-bottom: 80px;
            .top_nav {
                -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
                text-align: left;
                background-color: #fff;
                padding: 20px 20px 20px 20px;
                display: flex;
                align-items: center;
                a {
                    margin-right: 15px;
                    i {
                        font-size: 25px;
                        color: black;
                    }
                }
                h3 {
                    font-size: 26px;
                    line-height: 30px;
                }
            }
            .list_item {
                .item_content {
                    padding: 15px 20px;
                    border-bottom: 1px solid #dddddd;
                    a {
                        display: flex;
                        img {
                            width: 90px;
                            height: 90px;
                            border-radius: 50%;
                            object-fit: cover;
                            margin-right: 15px;
                        }
                        .txt_desp {
                            text-align: left;
                            p {
                                color: #656b6b;
                                font-size: 16px;
                                line-height: 26px;
                            }
                        }
                    }
                    &:first-child {
                        border-top: 1px solid #dddddd;
                    }
                }
            }
        }
}