#edit_password {
    .container {
        padding-top: 10%;
        padding-bottom: 100px;
        position: relative;
        background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(175, 234, 245));
        .row {
            max-width: 400px;
            width: 100%;
            margin: 0 auto;
            .card-title {
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 45px;
                font-weight: 600;
            }
            form {
                text-align: left;
                .alert-success {
                    margin-bottom: 25px;
                    h3 {
                        font-size: 24px;
                        line-height: 30px;
                        color: #7ed2d2;
                        font-style: italic;
                    }
                }
                .alert-danger {
                    margin-bottom: 25px;
                    h3 {
                        font-size: 24px;
                        line-height: 30px;
                        color: #ef5a69;
                        font-style: italic;
                    }
                }
                fieldset {
                    margin-bottom: 25px;
                    .form-group {
                        text-align: left;
                        .control-label {
                            margin-bottom: 5px;
                            display: block;
                        }
                        .col-sm-10 {
                            .form-control {
                                width: 100%;
                                height: 45px;
                                border-radius: 5px;
                                padding: 10px;
                                border: 1px solid #dddddd;
                            }
                        }
                    }
                    .col-sm-10 {
                        text-align: center;
                        .btn {
                            background: #5396ec;
                            border: none;
                            font-size: 20px;
                            padding: 10px 20px;
                            border-radius: 5px;
                            color: #ffff;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        
    }
}