#wrapper {
    &.new_detail {
        >.inner {
            padding-top: 10%;
            max-width: 1200px;
            width: 88.88%;
            margin: 0 auto 80px;
            padding: 10% 70px 0;
            .ttl {
                text-align: left;
                margin-bottom: 30px;
                h3 {
                    font-size: 34px;
                    font-weight: 600;
                }
            }
            .txt_desp {
                text-align: left;
                line-height: 25px;
                img {
                    width: 100%;
                    margin-bottom: 30px;
                }
                p {
                    font-size: 16px;
                    line-height: 30px;
                }
                h4 {
                    font-weight: 600;
                }
                h3, h2, strong {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 35px;
                }
                ul {
                    line-height: 24px;
                    list-style: disc;
                    margin-left: 30px;
                    
                }
            }
        }
    }
}