html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

/* automatic size vw */
/* automatic size vh */
/* text clamp */
/* anime In order */
.alert-danger {
  font-size: 14px;
  color: red;
  font-weight: 500;
  line-height: 20px;
  margin-left: 10px;
}

/*
    common
*/
html,
body {
  width: 100%;
  height: 100%;
  color: #000000;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  word-wrap: break-word;
  text-align: center;
  background-color: #ffffff;
}
html.hidden,
body.hidden {
  height: 100%;
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  -webkit-touch-callout: none;
}

ul, ol {
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

input, select, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

.util_sp {
  display: none !important;
}
@media (max-width: 768px) {
  .util_sp {
    display: block !important;
  }
}

.util_pc {
  display: block !important;
}
@media (max-width: 768px) {
  .util_pc {
    display: none !important;
  }
}

@media print {
  img {
    display: none;
  }
}
header#header {
  z-index: 999;
  position: fixed;
}
header#header > .inner {
  background-color: #fff;
  margin: 0 auto;
  padding: 0 150px;
  position: fixed;
  width: 100%;
}
@media (max-width: 1024px) {
  header#header > .inner {
    padding: 0 3.90625vw;
  }
}
@media (max-width: 768px) {
  header#header > .inner {
    padding: 0 5.2083333333vw;
  }
}
header#header > .inner .header_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header#header > .inner .header_main .logo a img {
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 80px;
}
@media (max-width: 1024px) {
  header#header > .inner .header_main .logo a img {
    width: 19.53125vw;
    height: 7.8125vw;
  }
}
@media (max-width: 768px) {
  header#header > .inner .header_main .logo a img {
    width: 26.0416666667vw;
    height: 10.4166666667vw;
  }
}
header#header > .inner .header_main .main_nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header#header > .inner .header_main .main_nav .menu .menu_item {
  margin-right: 50px;
}
@media (max-width: 1024px) {
  header#header > .inner .header_main .main_nav .menu .menu_item {
    margin-right: 2.9296875vw;
  }
}
@media (max-width: 768px) {
  header#header > .inner .header_main .main_nav .menu .menu_item {
    margin-right: 3.90625vw;
  }
}
header#header > .inner .header_main .main_nav .menu .menu_item a {
  text-transform: uppercase;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}
@media (max-width: 1024px) {
  header#header > .inner .header_main .main_nav .menu .menu_item a {
    font-size: 1.3671875vw;
  }
}
@media (max-width: 768px) {
  header#header > .inner .header_main .main_nav .menu .menu_item a {
    font-size: 1.8229166667vw;
  }
}
header#header > .inner .header_main .main_nav .menu .menu_item:last-child {
  text-align: left;
}
header#header > .inner .header_main .main_nav .menu .menu_item .dropdown {
  border: 1px solid #dddddd;
  display: none;
  position: absolute;
  background-color: #ffff;
}
header#header > .inner .header_main .main_nav .menu .menu_item .dropdown .dropdown_item {
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
}
@media (max-width: 1024px) {
  header#header > .inner .header_main .main_nav .menu .menu_item .dropdown .dropdown_item {
    padding: 0.9765625vw 1.953125vw;
  }
}
@media (max-width: 768px) {
  header#header > .inner .header_main .main_nav .menu .menu_item .dropdown .dropdown_item {
    padding: 1.3020833333vw 2.6041666667vw;
  }
}
header#header > .inner .header_main .main_nav .menu .menu_item .dropdown .dropdown_item:last-child {
  border-bottom: 0;
}
header#header > .inner .header_main .main_nav .menu .menu_item .dropdown .dropdown_item:hover {
  background-color: #babebe;
  color: white;
}
header#header > .inner .header_main .main_nav .menu .menu_item:hover .dropdown {
  display: block;
}

#wrapper > .inner {
  padding-top: 35px;
}
@media (max-width: 1024px) {
  #wrapper > .inner {
    padding-top: 3.41796875vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner {
    padding-top: 4.5572916667vw;
  }
}
#wrapper > .inner section#banner .container #slideshow {
  margin: 50px auto;
  position: relative;
  width: 100%;
  height: 700px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#banner .container #slideshow {
    margin: 4.8828125vw auto;
    height: 48.828125vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#banner .container #slideshow {
    margin: 6.5104166667vw auto;
    height: 95.0520833333vw;
  }
}
#wrapper > .inner section#banner .container #slideshow .slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a79e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  #wrapper > .inner section#banner .container #slideshow .slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
#wrapper > .inner section#banner .container #slideshow .slide .txt_desp {
  text-align: left;
  padding-left: 80px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#banner .container #slideshow .slide .txt_desp {
    padding-left: 7.8125vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#banner .container #slideshow .slide .txt_desp {
    padding-left: 0;
    margin-bottom: 6.5104166667vw;
    padding-top: 7.8125vw;
  }
}
#wrapper > .inner section#banner .container #slideshow .slide .txt_desp .text {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#banner .container #slideshow .slide .txt_desp .text {
    font-size: 1.953125vw;
    margin-bottom: 1.953125vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#banner .container #slideshow .slide .txt_desp .text {
    font-size: 2.6041666667vw;
    margin-bottom: 2.6041666667vw;
  }
}
#wrapper > .inner section#banner .container #slideshow .slide .txt_desp .description {
  font-size: 16px;
  color: #fff;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#banner .container #slideshow .slide .txt_desp .description {
    font-size: 1.5625vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#banner .container #slideshow .slide .txt_desp .description {
    font-size: 2.0833333333vw;
  }
}
#wrapper > .inner section#banner .container #slideshow .slide .txt_desp h3 {
  font-size: 34px;
  text-transform: uppercase;
  color: #a9e8eb;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#banner .container #slideshow .slide .txt_desp h3 {
    font-size: 3.3203125vw;
    margin-bottom: 2.9296875vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#banner .container #slideshow .slide .txt_desp h3 {
    font-size: 4.4270833333vw;
    margin-bottom: 3.90625vw;
  }
}
#wrapper > .inner section#banner .container #slideshow .slide .item_thumb {
  z-index: 9;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}
@media (max-width: 768px) {
  #wrapper > .inner section#banner .container #slideshow .slide .item_thumb {
    position: unset;
    width: 100%;
  }
}
#wrapper > .inner section#banner .container #slideshow .slide .item_thumb img {
  height: 700px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#banner .container #slideshow .slide .item_thumb img {
    height: 48.828125vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#banner .container #slideshow .slide .item_thumb img {
    height: 65.1041666667vw;
  }
}
#wrapper > .inner section#booking .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#booking .container {
    margin-bottom: 7.8125vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#booking .container {
    margin-bottom: 10.4166666667vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
#wrapper > .inner section#booking .container .item_booking {
  padding: 100px 120px 0 0;
  width: 50%;
  text-align: left;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#booking .container .item_booking {
    padding: 9.765625vw 11.71875vw 0 0;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#booking .container .item_booking {
    text-align: center;
    width: 100%;
    padding: 0;
  }
}
#wrapper > .inner section#booking .container .item_booking .title {
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#booking .container .item_booking .title {
    margin-bottom: 0.9765625vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#booking .container .item_booking .title {
    margin-bottom: 1.3020833333vw;
  }
}
#wrapper > .inner section#booking .container .item_booking .title h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 54px;
  line-height: 80px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#booking .container .item_booking .title h2 {
    font-size: 5.2734375vw;
    line-height: 7.8125vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#booking .container .item_booking .title h2 {
    font-size: 7.03125vw;
    line-height: 10.4166666667vw;
  }
}
#wrapper > .inner section#booking .container .item_booking .txt_desp {
  margin-bottom: 45px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#booking .container .item_booking .txt_desp {
    margin-bottom: 4.39453125vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#booking .container .item_booking .txt_desp {
    margin-bottom: 5.859375vw;
  }
}
#wrapper > .inner section#booking .container .item_booking .txt_desp p {
  line-height: 25px;
  font-size: 18px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#booking .container .item_booking .txt_desp p {
    line-height: 2.44140625vw;
    font-size: 1.7578125vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#booking .container .item_booking .txt_desp p {
    line-height: 3.2552083333vw;
    font-size: 2.34375vw;
  }
}
#wrapper > .inner section#booking .container .item_booking .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#booking .container .item_booking .content {
    margin-bottom: 1.46484375vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#booking .container .item_booking .content {
    margin-bottom: 1.953125vw;
  }
}
#wrapper > .inner section#booking .container .item_booking .content .item_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  width: 48.8888%;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#booking .container .item_booking .content .item_content {
    margin-bottom: 2.44140625vw;
    padding: 1.953125vw;
    border-radius: 0.9765625vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#booking .container .item_booking .content .item_content {
    margin-bottom: 3.2552083333vw;
    padding: 2.6041666667vw;
    border-radius: 1.3020833333vw;
  }
}
#wrapper > .inner section#booking .container .item_booking .content .item_content .item_thumb {
  background: #1a79e9;
  margin-right: 15px;
  padding: 8px;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#booking .container .item_booking .content .item_content .item_thumb {
    margin-right: 1.46484375vw;
    padding: 0.78125vw;
    border-radius: 0.9765625vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#booking .container .item_booking .content .item_content .item_thumb {
    margin-right: 1.953125vw;
    padding: 1.0416666667vw;
    border-radius: 1.3020833333vw;
  }
}
#wrapper > .inner section#booking .container .item_booking .content .item_content .item_thumb img {
  width: 50px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#booking .container .item_booking .content .item_content .item_thumb img {
    width: 4.8828125vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#booking .container .item_booking .content .item_content .item_thumb img {
    width: 6.5104166667vw;
  }
}
#wrapper > .inner section#booking .container .item_booking .content .item_content .txt_desp {
  display: contents;
}
#wrapper > .inner section#booking .container .item_booking .content .item_content .txt_desp p {
  line-height: 25px;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#booking .container .item_booking .content .item_content .txt_desp p {
    line-height: 2.44140625vw;
    font-size: 1.7578125vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#booking .container .item_booking .content .item_content .txt_desp p {
    line-height: 3.2552083333vw;
    font-size: 2.34375vw;
  }
}
#wrapper > .inner section#booking .container .item_booking .btn {
  text-align: center;
}
#wrapper > .inner section#booking .container .item_booking .btn button {
  -webkit-appearance: none;
  background: -webkit-gradient(to right, #5396ec 0%, #83f0f0 50%, #16a2ac 100%);
  background: -webkit-gradient(linear, left top, right top, from(#5396ec), color-stop(50%, #83f0f0), to(#16a2ac));
  background: linear-gradient(to right, #5396ec 0%, #83f0f0 50%, #16a2ac 100%);
  background-size: 500%;
  border: none;
  border-radius: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  color: white;
  cursor: pointer;
  font: 1.5em Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 70px;
  letter-spacing: 1.5;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 20rem;
}
#wrapper > .inner section#booking .container .item_booking .btn button:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes gradient {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100%;
  }
}
@keyframes gradient {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100%;
  }
}
#wrapper > .inner section#booking .container .item_booking .btn button a {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#booking .container .item_booking .btn button a {
    font-size: 2.34375vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#booking .container .item_booking .btn button a {
    font-size: 3.125vw;
  }
}
#wrapper > .inner section#specialized .inner {
  max-width: 1200px;
  width: 88.888%;
  margin: 0 auto 80px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#specialized .inner {
    max-width: 100%;
    margin: 0 auto 7.8125vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#specialized .inner {
    margin: 0;
  }
}
#wrapper > .inner section#specialized .inner .ttl {
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#specialized .inner .ttl {
    margin-bottom: 1.953125vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#specialized .inner .ttl {
    margin-bottom: 2.6041666667vw;
  }
}
#wrapper > .inner section#specialized .inner .ttl h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#specialized .inner .ttl h3 {
    font-size: 2.34375vw;
    line-height: 2.9296875vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#specialized .inner .ttl h3 {
    font-size: 3.125vw;
    line-height: 3.90625vw;
  }
}
#wrapper > .inner section#specialized .inner .slider .slick-prev {
  position: absolute;
  top: 35%;
  z-index: 99;
  left: -10px;
  font-size: 0;
  border: none;
  padding: 10px 15px;
}
#wrapper > .inner section#specialized .inner .slider .slick-prev::before {
  content: '\276E';
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
}
#wrapper > .inner section#specialized .inner .slider .slick-next {
  position: absolute;
  top: 35%;
  z-index: 99;
  right: -10px;
  font-size: 0;
  border: none;
  padding: 10px 15px;
}
#wrapper > .inner section#specialized .inner .slider .slick-next::before {
  content: '\276F';
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
}
#wrapper > .inner section#specialized .inner .slider a {
  color: #000000;
}
#wrapper > .inner section#specialized .inner .slider a img {
  width: 225px;
  height: 155px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto 10px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#specialized .inner .slider a img {
    width: 21.97265625vw;
    height: 15.13671875vw;
    margin: 0 auto 0.9765625vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#specialized .inner .slider a img {
    width: 29.296875vw;
    height: 20.1822916667vw;
    margin: 0 auto 1.3020833333vw;
  }
}
#wrapper > .inner section#specialized .inner .slider a p {
  font-size: 16px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#specialized .inner .slider a p {
    font-size: 1.5625vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#specialized .inner .slider a p {
    font-size: 2.0833333333vw;
  }
}
#wrapper > .inner section#doctor {
  background: whitesmoke;
  padding: 50px 0;
  margin-bottom: 80px;
  width: 100%;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#doctor {
    padding: 4.8828125vw 0;
    margin-bottom: 7.8125vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#doctor {
    padding: 6.5104166667vw 0;
    margin-bottom: 10.4166666667vw;
  }
}
#wrapper > .inner section#doctor .inner {
  max-width: 1200px;
  width: 88.888%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#doctor .inner {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#doctor .inner {
    margin: 0;
  }
}
#wrapper > .inner section#doctor .inner .ttl {
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#doctor .inner .ttl {
    margin-bottom: 1.953125vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#doctor .inner .ttl {
    margin-bottom: 2.6041666667vw;
  }
}
#wrapper > .inner section#doctor .inner .ttl h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#doctor .inner .ttl h3 {
    font-size: 2.34375vw;
    line-height: 2.9296875vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#doctor .inner .ttl h3 {
    font-size: 3.125vw;
    line-height: 3.90625vw;
  }
}
#wrapper > .inner section#doctor .inner .slider .slick-prev {
  position: absolute;
  top: 35%;
  z-index: 99;
  left: -10px;
  border: none;
  font-size: 0;
  padding: 10px 15px;
}
#wrapper > .inner section#doctor .inner .slider .slick-prev::before {
  content: '\276E';
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
}
#wrapper > .inner section#doctor .inner .slider .slick-next {
  position: absolute;
  top: 35%;
  z-index: 99;
  right: -10px;
  border: none;
  font-size: 0;
  padding: 10px 15px;
}
#wrapper > .inner section#doctor .inner .slider .slick-next::before {
  content: '\276F';
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
}
#wrapper > .inner section#doctor .inner .slider a {
  color: #000000;
}
#wrapper > .inner section#doctor .inner .slider a img {
  width: 220px;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #dddddd;
  margin: 0 auto 10px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#doctor .inner .slider a img {
    width: 21.484375vw;
    height: 18.5546875vw;
    margin: 0 auto 0.9765625vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#doctor .inner .slider a img {
    width: 28.6458333333vw;
    height: 24.7395833333vw;
    margin: 0 auto 1.3020833333vw;
  }
}
#wrapper > .inner section#doctor .inner .slider a p {
  font-size: 16px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#doctor .inner .slider a p {
    font-size: 1.5625vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#doctor .inner .slider a p {
    font-size: 2.0833333333vw;
  }
}
#wrapper > .inner section#news .inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 80px;
  position: relative;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#news .inner {
    margin: 0 auto 7.8125vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#news .inner {
    max-width: 100%;
    width: 88.888%;
    margin: 0;
  }
}
#wrapper > .inner section#news .inner .ttl {
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#news .inner .ttl {
    margin-bottom: 1.953125vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#news .inner .ttl {
    margin-bottom: 2.6041666667vw;
  }
}
#wrapper > .inner section#news .inner .ttl h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#news .inner .ttl h3 {
    font-size: 2.34375vw;
    line-height: 2.9296875vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#news .inner .ttl h3 {
    font-size: 3.125vw;
    line-height: 3.90625vw;
  }
}
#wrapper > .inner section#news .inner .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
#wrapper > .inner section#news .inner .container ul li {
  width: 48%;
}
#wrapper > .inner section#news .inner .container ul li .item_thumb {
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#news .inner .container ul li .item_thumb {
    margin-bottom: 1.953125vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#news .inner .container ul li .item_thumb {
    margin-bottom: 2.6041666667vw;
  }
}
#wrapper > .inner section#news .inner .container ul li .item_thumb img {
  width: 100%;
  height: 283px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#news .inner .container ul li .item_thumb img {
    height: 27.63671875vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#news .inner .container ul li .item_thumb img {
    height: 36.8489583333vw;
  }
}
#wrapper > .inner section#news .inner .container ul li .txt_desp h3 {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#news .inner .container ul li .txt_desp h3 {
    font-size: 1.953125vw;
    line-height: 2.9296875vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#news .inner .container ul li .txt_desp h3 {
    font-size: 2.6041666667vw;
    line-height: 3.90625vw;
  }
}
#wrapper > .inner section#news .inner .see_more {
  position: absolute;
  top: 0;
  right: 0;
  background: #ebebeb;
}
#wrapper > .inner section#news .inner .see_more p {
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  #wrapper > .inner section#news .inner .see_more p {
    font-size: 1.3671875vw;
    padding: 0.9765625vw;
  }
}
@media (max-width: 768px) {
  #wrapper > .inner section#news .inner .see_more p {
    font-size: 1.8229166667vw;
    padding: 1.3020833333vw;
  }
}
#wrapper > .inner section#news .inner .see_more p a {
  color: black;
}

footer#footer .container {
  border-top: 1px solid #f3f5f9;
  background-color: #fafafa;
  padding-top: 30px;
}
footer#footer .container > .inner {
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}
footer#footer .container > .inner .address {
  margin-bottom: 30px;
}
footer#footer .container > .inner .address .logo {
  margin-bottom: 30px;
}
footer#footer .container > .inner .address .logo img {
  width: 204px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 90px;
}
footer#footer .container > .inner .address .item_content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
footer#footer .container > .inner .address .item_content ul li i {
  margin-right: 10px;
}
footer#footer .container > .inner .address .item_content ul li p {
  color: #4b566b;
  font-size: 16px;
  line-height: 20px;
}
footer#footer .container > .inner .about_us {
  margin-bottom: 30px;
}
footer#footer .container > .inner .about_us .title {
  margin-bottom: 25px;
}
footer#footer .container > .inner .about_us .title h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
footer#footer .container > .inner .about_us ul li {
  margin-bottom: 10px;
}
footer#footer .container > .inner .about_us ul li a {
  color: #4b566b;
  font-size: 16px;
  line-height: 20px;
}
footer#footer .container > .inner .contact {
  margin-bottom: 30px;
}
footer#footer .container > .inner .contact .hotline {
  margin-bottom: 25px;
}
footer#footer .container > .inner .contact .hotline .title {
  margin-bottom: 25px;
}
footer#footer .container > .inner .contact .hotline .title h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
footer#footer .container > .inner .contact .hotline .item_thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
footer#footer .container > .inner .contact .hotline .item_thumb i {
  color: #1a79e9;
  font-size: 24px;
  margin-right: 10px;
}
footer#footer .container > .inner .contact .hotline .item_thumb p {
  font-size: 40px;
  font-weight: bold;
  color: #1a79e9;
}
footer#footer .container > .inner .contact .hotline .txt_desp p {
  font-size: 16px;
  color: #4b566b;
}
footer#footer .container > .inner .contact .social .title {
  margin-bottom: 15px;
}
footer#footer .container > .inner .contact .social .title h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
footer#footer .container > .inner .contact .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer#footer .container > .inner .contact .social ul li {
  margin-right: 10px;
}
footer#footer .container > .inner .contact .social ul li a {
  font-size: 25px;
  color: #555858;
}
footer#footer .container .copyright {
  border-top: 1px solid #eaecf1;
  padding: 25px 0;
}
footer#footer .container .copyright .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer#footer .container .copyright .inner .txt_desp p {
  font-size: 12px;
  color: #555858;
}
footer#footer .container .copyright .inner .item_thumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer#footer .container .copyright .inner .item_thumb ul li {
  margin-right: 10px;
}
footer#footer .container .copyright .inner .item_thumb ul li img {
  height: 40px;
}

#doctor > .inner {
  margin-bottom: 80px;
}
#doctor > .inner .top_nav {
  -webkit-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  text-align: left;
  background-color: #fff;
  padding: 20px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#doctor > .inner .top_nav a {
  margin-right: 15px;
}
#doctor > .inner .top_nav a i {
  font-size: 25px;
  color: black;
}
#doctor > .inner .top_nav h3 {
  font-size: 26px;
  line-height: 30px;
}
#doctor > .inner .list_item .item_content {
  padding: 15px 20px;
  border-bottom: 1px solid #dddddd;
}
#doctor > .inner .list_item .item_content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#doctor > .inner .list_item .item_content a img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
}
#doctor > .inner .list_item .item_content a .txt_desp {
  text-align: left;
}
#doctor > .inner .list_item .item_content a .txt_desp p {
  color: #656b6b;
  font-size: 16px;
  line-height: 26px;
}
#doctor > .inner .list_item .item_content:first-child {
  border-top: 1px solid #dddddd;
}

#doctor_detail {
  padding-top: 10%;
}
#doctor_detail .inner {
  max-width: 1200px;
  width: 88.8888%;
  margin: 0 auto;
}
#doctor_detail .inner .info_doctor {
  margin-bottom: 20px;
}
#doctor_detail .inner .info_doctor .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#doctor_detail .inner .info_doctor .container .item_thumb img {
  width: 135px;
  height: 135px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
#doctor_detail .inner .info_doctor .container .txt_desp {
  text-align: left;
  padding-left: 30px;
  max-width: 500px;
}
#doctor_detail .inner .info_doctor .container .txt_desp .ttl {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 15px;
}
#doctor_detail .inner .info_doctor .container .txt_desp .info_detail {
  font-size: 14px;
  line-height: 20px;
  color: #555858;
}
#doctor_detail .inner .examination_schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
#doctor_detail .inner .examination_schedule .container {
  text-align: left;
  border-right: 1px solid #dddddd;
}
#doctor_detail .inner .examination_schedule .container .date {
  margin-bottom: 15px;
}
#doctor_detail .inner .examination_schedule .container .date p {
  text-decoration: underline;
  color: #1b4eab;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}
#doctor_detail .inner .examination_schedule .container .ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 15px;
}
#doctor_detail .inner .examination_schedule .container .ttl svg {
  width: 15px;
  margin-right: 10px;
}
#doctor_detail .inner .examination_schedule .container .ttl h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
#doctor_detail .inner .examination_schedule .container .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#doctor_detail .inner .examination_schedule .container .time a {
  background: #fff8ae;
  color: black;
  padding: 10px;
  display: inline-block;
  font-weight: 600;
  margin: 0 15px 15px 0;
}
#doctor_detail .inner .examination_schedule .container .time a:hover {
  background: #45c3d2;
  color: #fff;
  cursor: pointer;
}
#doctor_detail .inner .examination_schedule .address {
  text-align: left;
  padding-left: 45px;
}
#doctor_detail .inner .examination_schedule .address .ttl {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: darkgrey;
  margin-bottom: 5px;
}
#doctor_detail .inner .examination_schedule .address .name_special {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 5px;
  font-weight: 600;
}
#doctor_detail .inner .examination_schedule .address .name_special span {
  font-weight: 500;
}
#doctor_detail .inner .examination_schedule .address .name_address {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
#doctor_detail .inner .content {
  border-top: 1px solid #dddddd;
  text-align: left;
  margin-bottom: 80px;
}
#doctor_detail .inner .content .container {
  padding-top: 20px;
}
#doctor_detail .inner .content .container .ttl {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
}
#doctor_detail .inner .content .container .introduction .txt_desp {
  text-align: left;
}
#doctor_detail .inner .content .container .introduction .txt_desp span {
  background-color: transparent !important;
}
#doctor_detail .inner .content .container .introduction .txt_desp h3, #doctor_detail .inner .content .container .introduction .txt_desp h2, #doctor_detail .inner .content .container .introduction .txt_desp strong {
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
}
#doctor_detail .inner .content .container .introduction .txt_desp ul {
  line-height: 24px;
  font-size: 16px;
  list-style: disc;
  margin-left: 30px;
}
#doctor_detail .inner .content .container .introduction .txt_desp ul li {
  line-height: 25px;
  font-size: 15px;
  color: #3f3d3d;
}

#booking {
  padding-top: 10%;
}
#booking .inner {
  max-width: 1200px;
  width: 88.8888%;
  margin: 0 auto 80px;
}
#booking .inner .info_doctor {
  max-width: 600px;
  margin: 0 auto 60px;
}
#booking .inner .info_doctor .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#booking .inner .info_doctor .container .item_thumb img {
  width: 135px;
  height: 135px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
#booking .inner .info_doctor .container .txt_desp {
  text-align: left;
  padding-left: 30px;
  max-width: 500px;
}
#booking .inner .info_doctor .container .txt_desp h1 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 35px;
  margin-bottom: 15px;
  color: #555858bf;
}
#booking .inner .info_doctor .container .txt_desp .ttl {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 15px;
}
#booking .inner .info_doctor .container .txt_desp .date_time {
  font-size: 14px;
  line-height: 20px;
  color: #555858;
}
#booking .inner .form .container {
  margin: 0 auto;
  max-width: 500px;
}
#booking .inner .form .container .tab {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#booking .inner .form .container .tab li a {
  background: #5396ec;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  color: black;
  margin-right: 20px;
  display: inline-block;
}
#booking .inner .form .container .tab li.active a {
  color: white;
  background-color: #555858;
}
#booking .inner .form .container .tab_content .tab_item {
  display: none;
}
#booking .inner .form .container .tab_content .tab_item form p {
  font-size: 14px;
  color: #1b4eab;
  font-weight: 600;
  text-align: left;
  margin-bottom: 15px;
}
#booking .inner .form .container .tab_content .tab_item form .form-group {
  margin-bottom: 15px;
  text-align: left;
}
#booking .inner .form .container .tab_content .tab_item form .form-group label {
  margin-bottom: 5px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#booking .inner .form .container .tab_content .tab_item form .form-group input[type=text], #booking .inner .form .container .tab_content .tab_item form .form-group input[type=number], #booking .inner .form .container .tab_content .tab_item form .form-group input[type=date] {
  border: 1px solid #dddddd;
  height: 40px;
  width: 500px;
}
#booking .inner .form .container .tab_content .tab_item form .form-group input[type=radio] {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}
#booking .inner .form .container .tab_content .tab_item form button[type=submit] {
  background: #1c999d;
  padding: 10px 15px;
  border: none;
  text-align: center;
  color: white;
  cursor: pointer;
}

#wrapper.specialized > .inner {
  margin-bottom: 80px;
}
#wrapper.specialized > .inner .top_nav {
  -webkit-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  text-align: left;
  background-color: #fff;
  padding: 0 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wrapper.specialized > .inner .top_nav a {
  margin-right: 15px;
}
#wrapper.specialized > .inner .top_nav a i {
  font-size: 25px;
  color: black;
}
#wrapper.specialized > .inner .top_nav h3 {
  font-size: 26px;
  line-height: 30px;
}
#wrapper.specialized > .inner .list_item .item_content {
  padding: 20px;
  border-bottom: 1px solid #dddddd;
}
#wrapper.specialized > .inner .list_item .item_content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#wrapper.specialized > .inner .list_item .item_content a img {
  width: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 110px;
  margin-right: 15px;
}
#wrapper.specialized > .inner .list_item .item_content a p {
  color: #000;
  font-size: 20px;
  line-height: 30px;
}
#wrapper.specialized > .inner .list_item .item_content:first-child {
  border-top: 1px solid #dddddd;
}

#wrapper.specialized_detail > .inner {
  margin: 0 auto 80px;
  padding-top: 6%;
}
#wrapper.specialized_detail > .inner .info_specialized {
  background: #fafafa;
  padding: 50px 120px;
  margin-bottom: 40px;
}
#wrapper.specialized_detail > .inner .info_specialized .ttl {
  margin-bottom: 30px;
}
#wrapper.specialized_detail > .inner .info_specialized .ttl h2 {
  font-size: 30px;
  line-height: 35px;
  text-align: left;
}
#wrapper.specialized_detail > .inner .info_specialized .txt_desp {
  text-align: left;
}
#wrapper.specialized_detail > .inner .info_specialized .txt_desp span {
  background-color: transparent !important;
}
#wrapper.specialized_detail > .inner .info_specialized .txt_desp strong {
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
}
#wrapper.specialized_detail > .inner .info_specialized .txt_desp ul {
  line-height: 24px;
  font-size: 16px;
  list-style: disc;
  margin-left: 30px;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized {
  max-width: 1200px;
  background: #fff;
  margin: 0 auto 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 25px;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .info_doctor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .info_doctor .item_thumb {
  margin-right: 15px;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .info_doctor .item_thumb img {
  height: 130px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 130px;
  margin-bottom: 10px;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .info_doctor .item_thumb p a {
  font-size: 16px;
  color: #45c3d2;
  line-height: 20px;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .info_doctor .txt_desp {
  text-align: left;
  width: 66%;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .info_doctor .txt_desp h4 {
  font-size: 22px;
  color: #45c3d2;
  line-height: 30px;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .info_doctor .txt_desp .txt_info {
  font-size: 14px;
  color: #555858;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 3;
  height: 75px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .info_doctor .txt_desp h2, #wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .info_doctor .txt_desp h3 {
  display: none;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .booking {
  text-align: left;
  max-width: 50%;
  border-left: 1px solid #dddddd;
  padding-left: 60px;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .booking .date {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 3px;
  margin-bottom: 20px;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .booking .ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .booking .ttl svg {
  width: 15px;
  margin-right: 10px;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .booking .ttl h3 {
  font-size: 18px;
  text-transform: uppercase;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .booking .time {
  margin-bottom: 10px;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .booking .time a {
  display: inline-block;
  background: antiquewhite;
  padding: 10px;
  color: #000;
  margin: 0 0 10px 5px;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .booking .address {
  border-top: 1px solid #dddddd;
  padding-top: 15px;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .booking .address .ttl {
  font-size: 18px;
  text-transform: uppercase;
  color: #555858;
}
#wrapper.specialized_detail > .inner .list_specialized .item_specialized .container .booking .address .name_address {
  font-size: 15px;
  line-height: 20px;
}

#wrapper.appointment > .inner {
  padding-top: 8%;
  min-height: 500px;
}
#wrapper.appointment > .inner table {
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 80px;
  position: relative;
  text-align: left;
}
#wrapper.appointment > .inner table thead tr {
  height: 60px;
  background: #5396ec;
  font-size: 16px;
}
#wrapper.appointment > .inner table thead tr th {
  padding: 22px 10px;
}
#wrapper.appointment > .inner table tbody tr {
  height: 48px;
  border-bottom: 1px solid #E3F1D5;
}
#wrapper.appointment > .inner table tbody tr:last-child {
  border: 0;
}
#wrapper.appointment > .inner table tbody tr td {
  padding: 16px 10px;
}

#wrapper.news > .inner {
  padding-top: 10%;
  max-width: 1200px;
  width: 88.88%;
  margin: 0 auto 80px;
  padding: 10% 70px 0;
}
#wrapper.news > .inner .ttl {
  text-align: left;
  margin-bottom: 30px;
}
#wrapper.news > .inner .ttl h3 {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: red;
}
#wrapper.news > .inner .list_item .item_content {
  padding: 20px 0;
  border-bottom: 1px solid #dddddd;
}
#wrapper.news > .inner .list_item .item_content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#wrapper.news > .inner .list_item .item_content a img {
  width: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 110px;
  margin-right: 15px;
}
#wrapper.news > .inner .list_item .item_content a p {
  color: #000;
  font-size: 20px;
  line-height: 30px;
}
#wrapper.news > .inner .list_item .item_content:first-child {
  border-top: 1px solid #dddddd;
}

#wrapper.new_detail > .inner {
  padding-top: 10%;
  max-width: 1200px;
  width: 88.88%;
  margin: 0 auto 80px;
  padding: 10% 70px 0;
}
#wrapper.new_detail > .inner .ttl {
  text-align: left;
  margin-bottom: 30px;
}
#wrapper.new_detail > .inner .ttl h3 {
  font-size: 34px;
  font-weight: 600;
}
#wrapper.new_detail > .inner .txt_desp {
  text-align: left;
  line-height: 25px;
}
#wrapper.new_detail > .inner .txt_desp img {
  width: 100%;
  margin-bottom: 30px;
}
#wrapper.new_detail > .inner .txt_desp p {
  font-size: 16px;
  line-height: 30px;
}
#wrapper.new_detail > .inner .txt_desp h4 {
  font-weight: 600;
}
#wrapper.new_detail > .inner .txt_desp h3, #wrapper.new_detail > .inner .txt_desp h2, #wrapper.new_detail > .inner .txt_desp strong {
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
}
#wrapper.new_detail > .inner .txt_desp ul {
  line-height: 24px;
  list-style: disc;
  margin-left: 30px;
}

#edit_account .container {
  padding-top: 10%;
  padding-bottom: 100px;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0)), to(#afeaf5));
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #afeaf5);
}
#edit_account .container .row {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}
#edit_account .container .row .card-title {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 45px;
  font-weight: 600;
}
#edit_account .container .row .form-horizontal {
  text-align: left;
}
#edit_account .container .row .form-horizontal .alert-success {
  margin-bottom: 25px;
}
#edit_account .container .row .form-horizontal .alert-success div h3 {
  font-size: 24px;
  line-height: 30px;
  color: #7ed2d2;
  font-style: italic;
}
#edit_account .container .row .form-horizontal .card-content .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
#edit_account .container .row .form-horizontal .card-content .inner .left_form fieldset {
  margin-bottom: 25px;
}
#edit_account .container .row .form-horizontal .card-content .inner .left_form fieldset .form-group .control-label {
  margin-bottom: 5px;
  display: block;
}
#edit_account .container .row .form-horizontal .card-content .inner .left_form fieldset .form-group .col-sm-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#edit_account .container .row .form-horizontal .card-content .inner .left_form fieldset .form-group .col-sm-10 .form-control {
  width: 290px;
  height: 45px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #dddddd;
}
#edit_account .container .row .form-horizontal .card-content .inner .right_form fieldset {
  margin-bottom: 25px;
}
#edit_account .container .row .form-horizontal .card-content .inner .right_form fieldset .form-group .control-label {
  margin-bottom: 5px;
  display: block;
}
#edit_account .container .row .form-horizontal .card-content .inner .right_form fieldset .form-group .col-sm-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#edit_account .container .row .form-horizontal .card-content .inner .right_form fieldset .form-group .col-sm-10 .form-control {
  width: 290px;
  height: 45px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #dddddd;
}
#edit_account .container .row .form-horizontal .card-content .inner .right_form fieldset .form-group .col-sm-10 label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
}
#edit_account .container .row .form-horizontal .card-content .inner .right_form fieldset .form-group .col-sm-10 label input[type=radio] {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  position: absolute;
  left: -9999px;
}
#edit_account .container .row .form-horizontal .card-content .inner .right_form fieldset .form-group .col-sm-10 label input[type=radio]:checked ~ span {
  background-color: #d6d6e5;
}
#edit_account .container .row .form-horizontal .card-content .inner .right_form fieldset .form-group .col-sm-10 label input[type=radio]:checked ~ span:before {
  -webkit-box-shadow: inset 0 0 0 0.4375em #00005c;
          box-shadow: inset 0 0 0 0.4375em #00005c;
}
#edit_account .container .row .form-horizontal .card-content .inner .right_form fieldset .form-group .col-sm-10 label span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
#edit_account .container .row .form-horizontal .card-content .inner .right_form fieldset .form-group .col-sm-10 label span:hover {
  background-color: #d6d6e5;
}
#edit_account .container .row .form-horizontal .card-content .inner .right_form fieldset .form-group .col-sm-10 label span:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  -webkit-box-shadow: inset 0 0 0 0.125em #00005c;
          box-shadow: inset 0 0 0 0.125em #00005c;
}
#edit_account .container .row .form-horizontal .card-content .col-sm-10 {
  text-align: center;
}
#edit_account .container .row .form-horizontal .card-content .col-sm-10 .btn {
  background: #5396ec;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffff;
  cursor: pointer;
}

#edit_password .container {
  padding-top: 10%;
  padding-bottom: 100px;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0)), to(#afeaf5));
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #afeaf5);
}
#edit_password .container .row {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
#edit_password .container .row .card-title {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 45px;
  font-weight: 600;
}
#edit_password .container .row form {
  text-align: left;
}
#edit_password .container .row form .alert-success {
  margin-bottom: 25px;
}
#edit_password .container .row form .alert-success h3 {
  font-size: 24px;
  line-height: 30px;
  color: #7ed2d2;
  font-style: italic;
}
#edit_password .container .row form .alert-danger {
  margin-bottom: 25px;
}
#edit_password .container .row form .alert-danger h3 {
  font-size: 24px;
  line-height: 30px;
  color: #ef5a69;
  font-style: italic;
}
#edit_password .container .row form fieldset {
  margin-bottom: 25px;
}
#edit_password .container .row form fieldset .form-group {
  text-align: left;
}
#edit_password .container .row form fieldset .form-group .control-label {
  margin-bottom: 5px;
  display: block;
}
#edit_password .container .row form fieldset .form-group .col-sm-10 .form-control {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #dddddd;
}
#edit_password .container .row form fieldset .col-sm-10 {
  text-align: center;
}
#edit_password .container .row form fieldset .col-sm-10 .btn {
  background: #5396ec;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffff;
  cursor: pointer;
}
