$breakpoint-pc: 1024px;
$breakpoint-md: 1000px;
$breakpoint-sm: 768px;
$breakpoint-xsm: 461px;

$clr-base: #fff;
$clr-base-bg: #ffffff;
$clr-base-font: #000000;
$clr-shadow-gray: #666666;
$clr-main: #4DA2E2;
$clr-icon: #FC952F;
$clr-hover :#006689;
$clr-sold-out: #d90000;
$clr-bg-blog: #f7f7f7;

$ease-inout: ease-in-out;
$ease-liner: linear;
$ease-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$ease-cubic-out: cubic-bezier(0.915, 0.030, 0.910, 0.350);